<div class="portfolio__item">
    <a href="<%= project.url %>" target="_blank"><img class="portfolio__image"  src="/images/<%= project.img %>"  alt="placeholder"></a>
    <div class=" portfolio__card portfolio__card--black">
        <h2 class="portfolio__cardCode"><a href="https://github.com/<%= project.github %>" target="_blank">View Code Here</a></h2>
        <br>
        <h4 class="portfolio__cardTitle"><a href="#" target="_blank"><%= project.title %></a></h4>
        <p class="portfolio__cardText"><%= project.details %></p>
    </div>
</div>
