<% include Partials/header %>

<div class="container "><!-- contains banner img bg.-->
  <div class="row about__page">
    <img class="about__picture" src="/images/profile.jpg" alt="Web Developer profile"/>
    <div class="about__bio">
      <h2><%= $t.global.dr %></h2>
      <p><%= $t.about.location %> <%= $t.global.location %></p>
      <p><%= $t.about.telephone %> <%= $t.global.telephone %></p>
      <p><%= $t.about.email %> <%= $t.global.myEmail %></p>
    </div>

    <div class="about__personal">
      <p><%= $t.about.personal %> </p>
    </div>
    <div class="about__skills">
      <h3><%= $t.about.skills.header %></h3>

        <div class="row">
          <h4><b><%= $t.about.skills.languages.title %></b></h4>
            <div class="row">
              <% $t.about.skills.languages.list.forEach(skill => { %>
                  <%- include('Partials/skillbox', {skill}); %>
              <% }) %>
            </div>
        </div>

      <div class="row">
        <h4><b><%= $t.about.skills.frameworks.title %></b></h4>
          <div class="row">
            <% $t.about.skills.frameworks.list.forEach(skill => { %>
                <%- include('Partials/skillbox', {skill}); %>
            <% }) %>
          </div>
      </div>

      <div class="row">
        <h4><b><%= $t.about.skills.tools.title %></b></h4>
          <div class="row">
            <% $t.about.skills.tools.list.forEach(skill => { %>
                <%- include('Partials/skillbox', {skill}); %>
            <% }) %>
          </div>
      </div>

    </div>
    <div class="about__education">
      <h3><%= $t.about.training.title %></h3>
      <% $t.about.training.list.forEach(item => { %>
        <p><%= item %></p>
      <% }) %>
    </div>
  </div>

  <div class="row">
    <h2 class="text-center"><%= $t.about.certs.title %></h2>
    <div class="cert__group">

        <% $t.about.certs.list.forEach(item => { %>

          <div class="about__certFrame">
            <img class="about__certImage" src="<%= item.img %>" alt="<%= item.imgAlt %>">
            <caption><%= item.title %></caption>
          </div>

        <% }) %>

      </div>
  </div>
</div>

<% include Partials/footer %>
