<% include Partials/header %>

<% include Partials/modal %>

<% include Partials/hero %>

<div class="container">
  <div class="row profile__box">
    <div class="profile__picFrame">
      <img class="img-responsive profile__picture" id="profile-pic" onmousemove="tracker(event)" src="/images/David-Sunglass-Left.jpg" alt="David's Face">
    </div>
    <div class="profile__content">
      <h1 class="profile__title"><%= $t.home.aboutMe.header %></h1>
      <h4 class="profile__tagLine"><%= $t.home.aboutMe.tagLine %></h4>
      <div class="profile__text">
        <p><%= $t.home.aboutMe.text %></p>
      </div>
    </div>
    <div class="profile__baseline">
      <h3 class="profile__contact profile__contact--left"><i class="fas fa-phone"></i><%= $t.global.telephone %></h3>
      <h3 class="profile__contact profile__contact--right"><i class="fab fa-whatsapp"></i><%= $t.global.telephone %></h3>
    </div>
  </div>
</div>

<div class="body--transition ">
  <div class="container">
    <h1 class="portfolio__title"><%= $t.home.highlightProjects.header %></h1>
    <div class="row portfolio__frame">

        <% $t.home.highlightProjects.projects.forEach(project => { %>
            <%- include('Partials/highlightedProject', {project}); %>
        <% }) %>

    </div>
  </div>
<div class="container">
  <div id="frame" class="row contact__box">
    <div class="col-sm-6">
      <h1 class="contact__title"><%= $t.global.getInTouch %></h1>
      <div id="map"></div>
    </div>
    <div class="col-sm-6">
      <h1 class="contact__title"><%= $t.global.formTitle %></h1>
        <% include Partials/form %>

    </div>
  </div>
</div>
<% include Partials/footer %>
