<% include Partials/header%>

<% let posts = false %>

<div id="blog-hero" class="hero__image hero__image--blog">
  <div id="hero-overlay" class="hero__overlay">
    <aside id="blog-hero-text" >
      <h2><%= $t.blog.hero.title %></h2>

        <% $t.blog.hero.text.forEach(paragraph => { %>
            <p><%= paragraph %></p>
        <% }) %>

    </aside>
  </div>
</div>

<div class="container-fluid">
	<div class="row">

		<% if (posts) { %>

            <% posts.forEach(post => { %>
                <%- include('Partials/blogThumbnail', {post}); %>
            <% }) %>

		<% } else { %>

		<div class="col-md-12">
			<h2><%= $t.blog.body.noPosts %></h2>
 			<p><a href="#"><%= $t.global.clickHere %></a> <%= $t.global.toGoBack %></p>
		</div>

		<% } %>

	</div>
</div>

<% include Partials/footer %>
