<% include Partials/header %>

<div id="hero" class="hero__image hero__image--contact ">
  <div id="hero-overlay" class="hero__overlay">
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="frame" class="row contact__box contact__box--raised">
        <div id="platforms" class="col-sm-6">
          <h1 class="contact__title"><%= $t.global.reasonsToTalk %></h1>

          <% $t.global.reasons.forEach(reason => {%>
            <h4><%= reason %></h4>
          <%})%>

        </div>
        <div class="col-sm-6">
          <h1 class="contact__title"><%= $t.global.formTitle %></h1>
            <% include Partials/form %>

        </div>
      </div>
    </div>
  </div>
  <h1 class="contact__tagLine"><%= $t.contact.tagLine %></h1>
  <div class="text-center contact__socialMedia">

      <% $t.contact.socialMedia.forEach(item => {%>
      <a href="<%= item.link %>" target="blank">
        <h5 class="contact__icons contact__icons<%= item.class %>">
          <i class="fab <%=item.icon %>"></i>
            <%= item.name %>
        </h5>
      </a>
      <%})%>

  </div>
</div>

<% include Partials/footer %>
